{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="linknavi">
	<a href="{% url 'login' %}"><button>Login</button></a> 
</div>

<div class="shadows">
	<div class="darkheader">
		<img src="{% static "tlocator/images/account.png" %}" height="40" width="40" /> 		
		<h3 class="inlineheader">Login</h3>
	</div>
	
	<div class="paddingbody">
	
		<form action="" method="POST">
			{% csrf_token %}
			<table class="u-full-width">
				{% if message != "" %}
				<tr>
					<td colspan=2> {{ message }} </td>
				</tr>
				{% endif %}
				
					{% if form.login_form.errors %}
					<ol>
						{% for error in form.login_form.errors %}
							<li><strong>{{ error|escape }}</strong></li>
						{% endfor %}
					</ol>
					{% endif %}
					
				{{ login_form.as_table }}
				</table>
				<td><input class="button-primary" type='submit' value="Login"></td>
		</form>
		No Account Yet?<br>
		<a href="{% url 'signup' %}"><button> Signup</button></a>
	</div>
</div>
{% endblock %}



