{% extends 'main/base.html' %}
{% load staticfiles %}
{% block content %}

	<div class="paddingbody">
	<hr>
		<h5>Edit Partner Profile</h5>
		<form action="" method="POST">
		{% csrf_token %}
			<table class="u-full-width">
				{% if form.partner_profile_form.errors %}
				<ol>
					{% for error in form.partner_profile_form.errors %}
						<li><strong>{{ error|escape }}</strong></li>
					{% endfor %}
				</ol>
				{% endif %}
			{{ partner_profile_form.as_table }}
			</table>
			<input class="button-primary" type='submit' value="Send">
		</form>
	</div>

{% endblock %}
